<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white
 border-bottom shadow-sm">
    <h5 class="h5 my-0 me-md-auto fw-normal">
        <app-header></app-header>
        </h5>
    <nav class="my-2 my-md-0 me-md-3 ">
      <a class="p-2 text-dark" [routerLink]="['/shop']">Shop</a>
      <a class="p-2 text-dark" href="#">Offer Zone</a>
      <a class="p-2 text-dark" href="#">Help</a>
     
    </nav>
    <a class="btn btn-sm btn-primary" [routerLink]="['/register']">Sign up</a>
    <a class=" btn btn-sm btn-outline-secondary" [routerLink]="['/login']">Login</a>
</div>
